#cursor-trail {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
}

.trail-character {
    position: absolute;
    font-family: monospace;
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-shadow: 0 0 5px rgb(202, 202, 202);
    opacity: 1;
    transition: opacity 1s;
}

body {
    cursor: none;
}


body {
    font-family: 'Courier New', monospace;
    background-color: #222;
    color: #ddd;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}

h1, h2 {
    color: #f0f0f0;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #333;
    border: 1px solid #555;
    color: #ddd;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #555;
    color: #ddd;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
}

button:hover {
    background: #666;
}

#song-list {
    list-style-type: none;
    padding: 0;
}

#song-list li {
    background: #333;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.album-image, .playlist-image {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.song-info {
    flex-grow: 1;
}

#ascii-art {
    font-family: monospace;
    white-space: pre;
    line-height: 1;
    margin-bottom: 20px;
}